body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #7851A9; /* Royal purple background */
    color: #FFFFFF; /* White text color */
    text-align: center;
}

.container {
    padding: 20px;
}

form {
    margin-bottom: 20px;
    align-content: center;
    flex-wrap: wrap;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #7851A9;
    border: none;
    border-radius: 5px;
}

h1, h2 {
    font-size: 2.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 2rem; /* Large text size for quotes */
    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF; /* White color for the quotes */
    margin: 20px 0;
}

#quoteDisplay {
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF;
}

.hidden {
    display: none;
}
